<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-button">

<dom-module id="main-toolbar">

    <template>
        <style>

            app-toolbar{
                padding: 0 150px;
            }

            .logo-link{
                padding-left: 20px;
                height:24px;
                font-size: 20px;
                text-decoration: none;
            }

            .logo-link img{
                height: 100%;
                vertical-align: middle;
            }

            .logo-link span:first-of-type{
                @apply(--paper-font-title);
                vertical-align: middle;
                color: var(--paper-light-green-500);
            }

            .logo-link span:last-of-type{
                @apply(--paper-font-body1);
                font-weight: 300;
                vertical-align: middle;
                color: var(--google-grey-500);
                padding-left:20px;
            }

            .flex{
                flex:1;
            }

            paper-button{
                @apply(--paper-font-subhead);
                color: var(--google-grey-500);
                font-weight: 300;
            }

            paper-button.signup{
                background: var(--paper-light-green-500);
                color: white;
            }
        </style>

            <app-toolbar>
                <a href="/" class="logo-link">
                    <img src="../../public/img/logo-big.png" alt="Syncho | The Synchronization Platform">
                    <span>Syncho</span>
                    <span>The Web Synchronization Platform</span>
                </a>
                <div class="flex"></div>
                <paper-button>Log in</paper-button>
                <paper-button class="signup">Sign Up Now</paper-button>
            </app-toolbar>

    </template>

    <script>
        Polymer({
          is:'main-toolbar'
        });
    </script>
</dom-module>