<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../main-toolbar/main-toolbar.html">
<link rel="import" href="../main-page/main-page.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<dom-module id="main-app">
  <template>
    <style>

    </style>

      <app-header-layout fullbleed>
          <app-header fixed shadow>
              <main-toolbar></main-toolbar>
          </app-header>
          <main-page></main-page>
      </app-header-layout>
  </template>

  <script>
    Polymer({

      is: 'main-app',

    });
  </script>
</dom-module>
